@font-face {
    font-family:'open_sansregular';
    src: url('../fonts/families/opensans-regular-webfont.eot');
    src: url('../fonts/families/opensans-regular-webfontd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/families/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'oswaldregular';
    src: url('../fonts/families/oswald-regular-webfont.eot');
    src: url('../fonts/families/oswald-regular-webfontd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/oswald-regular-webfont.woff') format('woff'), url('../fonts/families/oswald-regular-webfont.ttf') format('truetype'), url('../fonts/oswald-regular-webfont.svg#oswaldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url('../images/photos/bg-blurred.jpg') no-repeat fixed;
    font-family: oswaldregular;
}
/* set up for sticky footer*/

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 3em;
}

hr {
    margin:0.3em 0;
    padding: 0;
    border: none;
    height:1px;
}

h1, h2, h3, h4, h5, h6 {
    line-height:1;
}

.text-2em {
    font-size: 2em;
}

.small-h1 {
    font-size: 1.4em;
}

.small-h2 {
    font-size: 1em;
}

.panel .panel-inverse {
    background-color: black;
    color: white;
    border-radius: 0;
}

.panel {
    border-radius: 0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}


/* ****** */

.logotag-header {
    width: 100%;

    background-color: rgba(255, 255, 255, 0.7);
}

header .logo{
    width: 100%;
    margin: 0px;
    padding: 0px;
    position:relative;
    display: inline-block;
}

header .logo img{
    height: 120px;
    width: auto;
    vertical-align: bottom;
    margin: 15px 30px 10px 30px;
    float: left;
}

header .logotag-header span{
    margin: 30px 0px 30px 30px;
    font-size:36px;
    padding: 10px 15px 10px 15px;
    float: right;
    position: relative;
}

header .logotag-header span:after {
	top: 90%;
	right: 0;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-width: 10px;
	margin-left: -10px;
}

.mainmenu {
    margin-bottom:0;
}

.mainmenu-container {
    background:#000;
}

.toggleMenu {
    background: #000;
    color: #fff !important;
    border-bottom:3px solid #cc0000;
}

.mainmenu {
    background:#000;
    border-bottom:3px solid #cc0000;
    color: white;
}

.mainmenu a {
    color:#fff;
    background-color: #000;
}

.mainmenu a::before{
    background:#cc0000;
}

.mainmenu ul li a {
    background-color: #000;
}

.mainmenu ul li a::before{
    background:#cc0000;
}

.mainmenu li li a {
    background:#000;
}

.mainmenu li li li a {
    background:#000;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  min-height: 200px;    /* Set slide height here */
}

.home-content {
    background-color: white;
    padding: 3em;
}

.scores-table-title{
    background-color: black;
    color:white;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 400;
}


/* channels */

.channel-display {
    width: 100%;
    max-width:100%;
    /*margin-bottom: 3em;*/
    background-color: white;
    padding: 1em;
}

.channel-display img {
    width: 100%;
}

.channel-list {
    min-height: 200px;
    height: 500px;
    overflow-y: scroll; 
    overflow-x: hidden;
}

.channel-info {
    padding: 1em;
}

.channel-info h2 {
    margin: 0;
}

.channel-search {
    padding: 1em 1em 0 1em;
}

/* login page */

.form-wrapper, .section {
    width: 100%;
    background-color: #FAFAFA;
    min-height: 70wh;
    height: 100wh;
}

.form-box {
    padding: 2em 3em;
    margin: 1em;
}

/* plans and benefits */
.benefit-item {
    padding: 1em;
}

/* footer */

.footer {
    position: absolute;
    width: 100%;
    height: 3em;
    bottom: 0;
    background-color:#000;
    border-top:3px solid #cc0000;
    color:#fff;
}
.footer h5 {
    color:#fff;
}
.footer-widgets {
    border-bottom:1px solid rgba(255,255,255,0.1);
}
.footer-widgets p{
    color:#e1e1e1;
}
.footer-widget ul li {
    border-bottom:1px solid rgba(255,255,255,0.1);
}
.footer-widget ul li a {
    color:#e1e1e1;
}
.footer-widget ul li a:hover {
    color:#fff;
}

 .social-icons {
    list-style-type:none;
    display:block;
    padding:0px;
    float:right;
}
.social-icons li {
    float:left;
    display:block;
    margin:0px;
    padding:0;
}
.social-icons li img {
    width:32px;
    height:auto;
}
.social-icon {
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
    padding:5px;
}